<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" id="title">
            <h1>Eat Da Burger</h1>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4" id="bdiv">
            <img id="burger" src="/assets/img/burger.png">
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Burger Menu</h2>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Devoured Burgers</h2>
        </div>
    </div>
    <div class="row"> 
        <div>
                                                                                 
        </div>
    </div>
    <div class="row" id="displays">
        <div class="col-md-4" id="burgersdisplay">

            {{#each burgers}}
            {{#unless this.devoured}}
            <li>
                <h2>{{this.burger_name}}</h2>
                <form>
                    <button type="submit" data-id="{{id}}" data-neweat="{{devoured}}" class='devoured'>
                        Devoured</button>
                </form>
            </li>
            {{/unless}}
            {{/each}}

        </div>
        <div class="col-md-4" id="newbdiv">
            <form>
                <input type="text" id="name" placeholder="Enter Burger Here">
                <button type="submit" class="addBurgerButton" id="addbtn">Add Burger!</button>
            </form>
        </div>
        <div class="col-md-4">
            {{#each burgers}}
            {{#if this.devoured}}
            <li>
                <h2>
                    {{this.burger_name}}
                </h2>
            </li>
            {{/if}}
            {{/each}}
        </div>
    </div>